{% import 'components/_generic_attributes.j2' as attrs %}
{% set children = _component_context.get('content', '') %}
{% set slots = _component_context.get('slots', {}) %}
{% set gap = _component_context.get('gap', '') %}
{% set min = _component_context.get('min', '') %}
{% set css_classes = ['lotc-auto-grid'] %}
{% if _component_context.get('class') %}
    {% set css_classes = css_classes + _component_context['class'].split() %}
{% endif %}
<div
    class="{{ css_classes | join(' ') }}"
    data-lotc-component="auto-grid"
    {% if min or gap %}style="--lotc-col-min: {{ min }}; --lotc-grid-gap: {{ gap }};"{% endif %}
    {{ attrs.render_extra_attributes(_component_context) }}>
    {{ children | safe }}
</div>
