{% import 'components/_generic_attributes.j2' as attrs %}
{% macro lotc_render(_component_context) %}
{% set children = _component_context.get('content', '') %}
{% set slots = _component_context.get('slots', {}) %}
{% set label = _component_context.get('label', '') %}
{% set type = _component_context.get('type', 'default') %}
{% set css_classes = ['rvo-badge'] %}
{% if _component_context.get('class') %}
    {% set css_classes = css_classes + _component_context['class'].split() %}
{% endif %}
<span
    class="{{ css_classes | join(' ') }}"
    data-lotc-component="badge"
    {{ attrs.render_extra_attributes(_component_context) }}>
    {{ children | safe if children else label }}
</span>
{% endmacro %}
