{% import 'components/_generic_attributes.j2' as attrs %}
{% import 'components/_attribute_mixin.j2' as attributes %}
{% set children = _component_context.get('content', '') %}
{% set active = _component_context.get('active', false) %}
{% set aria_label = _component_context.get('aria-label', '') %}
{% set color = _component_context.get('color', 'wit') %}
{% set disabled = _component_context.get('disabled', false) %}
{% set full_width = _component_context.get('full-width', false) %}
{% set href = _component_context.get('href', '') %}
{% set html_type = _component_context.get('html-type', 'button') %}
{% set icon = _component_context.get('icon', '') %}
{% set loading = _component_context.get('loading', false) %}
{% set name = _component_context.get('name', '') %}
{% set show_icon = _component_context.get('show-icon', 'no') %}
{% set size = _component_context.get('size', 'md') %}
{% set target = _component_context.get('target', '') %}
{% set type = _component_context.get('type', 'primary') %}
{% set css_classes = ['utrecht-button'] %}
{% if type == 'primary' %}{% set css_classes = css_classes + ['utrecht-button--primary-action'] %}{% endif %}
{% if type == 'warning' %}{% set css_classes = css_classes + ['utrecht-button--primary-action'] %}{% endif %}
{% if type == 'secondary' %}{% set css_classes = css_classes + ['utrecht-button--secondary-action'] %}{% endif %}
{% if type == 'tertiary' %}{% set css_classes = css_classes + ['utrecht-button--rvo-tertiary-action'] %}{% endif %}
{% if type == 'quaternary' %}{% set css_classes = css_classes + ['utrecht-button--rvo-quaternary-action'] %}{% endif %}
{% if type == 'subtle' or type == 'warning-subtle' %}{% set css_classes = css_classes + ['utrecht-button--subtle'] %}{% endif %}
{% if type == 'warning' or type == 'warning-subtle' %}{% set css_classes = css_classes + ['utrecht-button--warning'] %}{% endif %}
{% if active %}{% set css_classes = css_classes + ['utrecht-button--active'] %}{% endif %}
{% if loading %}{% set css_classes = css_classes + ['utrecht-button--busy'] %}{% endif %}
{% if size == 'xs' %}{% set css_classes = css_classes + ['utrecht-button--rvo-xs'] %}{% endif %}
{% if size == 'sm' %}{% set css_classes = css_classes + ['utrecht-button--rvo-sm'] %}{% endif %}
{% if size == 'md' %}{% set css_classes = css_classes + ['utrecht-button--rvo-md'] %}{% endif %}
{% if full_width %}{% set css_classes = css_classes + ['utrecht-button--rvo-full-width'] %}{% endif %}
{% if show_icon == 'before' %}{% set css_classes = css_classes + ['utrecht-button--icon-before'] %}{% endif %}
{% if show_icon == 'after' %}{% set css_classes = css_classes + ['utrecht-button--icon-after'] %}{% endif %}
{% set utility_classes = attributes.render_utility_classes(_component_context) %}
{% if utility_classes %}
    {% set css_classes = css_classes + utility_classes.split() %}
{% endif %}
{% if _component_context.get('class') %}
    {% set css_classes = css_classes + _component_context['class'].split() %}
{% endif %}
<button
    class="{{ css_classes | join(' ') }}"
    data-lotc-component="button"
    {% if disabled %}disabled{% endif %}
    type="{{ html_type }}"
    {{ attrs.render_extra_attributes(_component_context) }}>
    {% if show_icon == 'before' %}
    {% set css_classes = ['utrecht-icon', 'rvo-icon'] %}
    {% if icon %}{% set css_classes = css_classes + ['rvo-icon-' ~ icon] %}{% endif %}
    {% if size %}{% set css_classes = css_classes + ['rvo-icon--' ~ size] %}{% endif %}
    {% if color %}{% set css_classes = css_classes + ['rvo-icon--' ~ color] %}{% endif %}
    <span
        class="{{ css_classes | join(' ') }}"
        role="img"
        aria-label="{{ aria_label }}">
    </span>
    {% endif %}
    <span>
        {{ children if children else name | safe }}
    </span>
    {% if show_icon == 'after' %}
    {% set css_classes = ['utrecht-icon', 'rvo-icon'] %}
    {% if icon %}{% set css_classes = css_classes + ['rvo-icon-' ~ icon] %}{% endif %}
    {% if size %}{% set css_classes = css_classes + ['rvo-icon--' ~ size] %}{% endif %}
    {% if color %}{% set css_classes = css_classes + ['rvo-icon--' ~ color] %}{% endif %}
    <span
        class="{{ css_classes | join(' ') }}"
        role="img"
        aria-label="{{ aria_label }}">
    </span>
    {% endif %}
</button>

