{% import 'components/_generic_attributes.j2' as attrs %}
{% set link = _component_context.get('link', '#') %}
{% set text = _component_context.get('text', '') %}
{% set subtitle = _component_context.get('subtitle', '') %}
{% set children = _component_context.get('content', '') %}
{% set css_classes = ['rvo-header'] %}
{% if _component_context.get('class') %}
    {% set css_classes = css_classes + _component_context['class'].split() %}
{% endif %}
<header class="{{ css_classes | join(' ') }}" data-lotc-component="header" {{ attrs.render_extra_attributes(_component_context) }}>
    <div class="rvo-header__logo-wrapper">
        <a href="{{ link }}" class="rvo-header__logo-link rvo-link rvo-link--no-underline">
            <div class="rvo-logo rvo-header__logo-img">
                <div class="rvo-logo__emblem">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -12 44 88" role="img">
                        <title>Logo Rijksoverheid</title>
                        <rect x="0" y="-12" fill="var(--rvo-logo-emblem-background-color, #154273)" width="44" height="88"></rect>
                        <path fill="var(--rvo-logo-emblem-color, #FFFFFF)" d="M22.764,56.35h-0.765v-2.123h0.765V56.35z M26.214,46.997h-0.765v-2.123h0.765V46.997z M12.048,43.336 c-0.058,0-0.455,0.002-0.455,0.084s0.184,0.041,0.455,0.084c0.611,0.105,0.854,0.414,1.283,0.414c0.39,0,0.789-0.266,0.635-0.828 c-0.026-0.094-0.083-0.072-0.094-0.008c-0.061,0.25-0.371,0.396-0.697,0.396C12.771,43.479,12.685,43.336,12.048,43.336z"></path>
                    </svg>
                </div>
                <div class="rvo-logo__wordmark">
                    {% if text %}<p class="rvo-logo__title">{{ text }}</p>{% endif %}
                    {% if subtitle %}<p class="rvo-logo__subtitle">{{ subtitle }}</p>{% endif %}
                </div>
            </div>
        </a>
    </div>
    {% if children %}{{ children | safe }}{% endif %}
</header>
