{% import 'components/_generic_attributes.j2' as attrs %}
{% set children = _component_context.get('content', '') %}
{% set aria_label = _component_context.get('aria-label', '') %}
{% set size = _component_context.get('size', 'md') %}
{% set type = _component_context.get('type', 'horizontal') %}
{% set css_classes = ['rvo-menubar__background'] %}
{% if _component_context.get('class') %}
    {% set css_classes = css_classes + _component_context['class'].split() %}
{% endif %}
<div
    class="{{ css_classes | join(' ') }}"
    data-lotc-component="menu"
    {{ attrs.render_extra_attributes(_component_context) }}>
    {% set css_classes = ['rvo-menubar'] %}
    {% if size %}{% set css_classes = css_classes + ['rvo-menubar--' ~ size] %}{% endif %}
    <nav
        {% if aria_label %}aria-label="{{ aria_label }}"{% endif %}
        class="{{ css_classes | join(' ') }}">
        {% set css_classes = ['rvo-menubar__ul'] %}
        <ul
            class="{{ css_classes | join(' ') }}">
            {% set css_classes = ['rvo-menubar__list'] %}
            {% if type == 'vertical' %}{% set css_classes = css_classes + ['rvo-menubar__list--vertical'] %}{% endif %}
            <li
                class="{{ css_classes | join(' ') }}">
                {% set css_classes = ['rvo-menubar__group--flex'] %}
                {% if type == 'vertical' %}{% set css_classes = css_classes + ['rvo-menubar__group--vertical'] %}{% endif %}
                <ul
                    class="{{ css_classes | join(' ') }}">
                    {{ children | safe }}
                </ul>
            </li>
        </ul>
    </nav>
</div>
