{% import 'components/_generic_attributes.j2' as attrs %}
{# Theme-agnostic section link: composes c-icon (leading + trailing chevron). #}
{% macro lotc_render(_component_context) %}
{% set icon = _component_context.get("icon", "") %}
{% set label = _component_context.get("label", "") %}
{% set href = _component_context.get("href", "") %}
{% set children = _component_context.get("content", "") %}
<a{% if href %} href="{{ href }}"{% endif %} class="lotc-section-link" data-lotc-component="section-link" {{ attrs.render_extra_attributes(_component_context) }}>{% if icon %}<c-icon :icon="icon"/>{% endif %}<span>{{ label }}{{ children | safe }}</span><c-icon icon="chevron-right" class="lotc-section-link-go"/></a>
{% endmacro %}
