{% import 'components/_generic_attributes.j2' as attrs %}
{% macro lotc_render(_component_context) %}
{% set slots = _component_context.get('slots', {}) %}
{% set autocomplete = _component_context.get('autocomplete', '') %}
{% set disabled = _component_context.get('disabled', false) %}
{% set name = _component_context.get('name', '') %}
{% set placeholder = _component_context.get('placeholder', '') %}
{% set readonly = _component_context.get('readonly', false) %}
{% set required = _component_context.get('required', false) %}
{% set type = _component_context.get('type', 'text') %}
{% set value = _component_context.get('value', '') %}
{% set css_classes = ['utrecht-textbox', 'utrecht-textbox--html-input'] %}
{% if disabled %}{% set css_classes = css_classes + ['utrecht-textbox--disabled'] %}{% endif %}
{% if _component_context.get('class') %}
    {% set css_classes = css_classes + _component_context['class'].split() %}
{% endif %}
<input
    class="{{ css_classes | join(' ') }}"
    data-lotc-component="text-input"
    type="{{ type }}"
    {% if name %}name="{{ name }}"{% endif %}
    {% if value %}value="{{ value }}"{% endif %}
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
    {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
    {% if disabled %}disabled{% endif %}
    {% if required %}required{% endif %}
    {% if readonly %}readonly{% endif %}
    {{ attrs.render_extra_attributes(_component_context) }}>
{% endmacro %}
